<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Hotel</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Setting
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div> -->
    </div>
    <div *ngIf="isLoggedIn(); then logoutTemplate else loginTemplate"></div>

</nav>



<ng-template #loginTemplate>
    <!-- Please login to continue.  -->
    <!-- <button type="button" class="btn btn-primary" (click)="login()">Login</button> -->
</ng-template>

<ng-template #logoutTemplate>
    <!-- Hi, {{ this.userService.getUserName() }} -->
    <button type="button" class="mr-2 btn btn-primary" (click)="profile()">My profile</button>    
    <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
</ng-template>